@mixin on-desktop {
  @media screen and (min-width: 600px) {
    @content;
  }
}

$base-font-family: Arial;
$answer-font-family: "Amiri", $base-font-family;
$duration-font-family: "Aref Ruqaa", $base-font-family;

$answer-counting-color: #de6262;
$answer-done-color: #f2b4a8;
$duration-color: #fecea8;
$background-counting-color: #474747;
$background-done-color: #262626;

body {
  direction: rtl;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.appCounting {
  background: $background-counting-color;
}

.appDone {
  background: $background-done-color;
}

.answer {
  margin: 0;

  font-family: $answer-font-family;
  font-size: 300px;
  font-weight: normal;
}

.answerCounting {
  color: $answer-counting-color;
}

.answerDone {
  color: $answer-done-color;
}

.duration {
  margin-bottom: 50px;

  font-family: $duration-font-family;
  font-weight: normal;
  color: $duration-color;

  font-size: 6.8vw;
  @include on-desktop {
    font-size: 6vw;
  }
}

.counter {
  display: inline-block;

  margin: 0 1.8vw;
  @include on-desktop {
    margin: 0 2vw;
  }

  &:first-child {
    margin-right: 0;
  }

  &:last-child {
    margin-left: 0;
  }
}

.background {
  position: fixed;
  top: -25%;
  left: -25%;
  width: 150%;
  height: 150%;
  z-index: -1;

  background-image: url(./pattern.svg);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background: $background-counting-color;

  span {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    font-size: 100px;

    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: rotating;
  }
}

@keyframes rotating {
  from {
    transform: rotate(-1deg);
  }

  50% {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(-1deg);
  }
}
